<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="login" icon="arrow-back-outline" mode="md"></ion-back-button>
    </ion-buttons>
    <div class="title">
      <ion-title>My First Bank</ion-title>
      <ion-title>Registro</ion-title>
    </div>
    </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Correo"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
 
    <ion-item>
      <ion-input
      placeholder="Contraseña"
      [type]="passwordTypeInput_1" 
      formControlName="password"
      clearInput="true"
    ></ion-input>
    <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(1)">
      <div>
        <ion-icon  [name]="(passwordTypeInput_1 === 'text')?'eye':'eye-off'"></ion-icon>
      </div>
    </button>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>
    <ion-item>
      <ion-input
      placeholder="Contraseña"
      [type]="passwordTypeInput_2" 
      formControlName="password2"
      clearInput="true"
    ></ion-input>
    <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(2)">
      <div>
        <ion-icon  [name]="(passwordTypeInput_2 === 'text')?'eye':'eye-off'"></ion-icon>
      </div>
    </button>
    </ion-item>
    <div *ngIf="(password2.dirty || password2.touched) && password2.errors" class="errors">
      <span *ngIf="password2.errors?.required">Password is required</span>
      <span *ngIf="password2.errors?.minlength">Password needs to be 6 characters</span>
    </div>
  </form>
 
    <ion-button (click)="signUp()" expand="full">Sing up</ion-button>
</ion-content>