<ion-header>
  <ion-toolbar color="primary">
    <div class="title">
      <ion-title>My First Bank</ion-title>
      <ion-title>Inicio</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Correo"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>
 
    <ion-item>
      <ion-input
      placeholder="Contraseña"
      [type]="passwordTypeInput" 
      formControlName="password"
      clearInput="true"
    ></ion-input>
    <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode()">
      <div>
        <ion-icon  [name]="(passwordTypeInput === 'text')?'eye':'eye-off'"></ion-icon>
      </div>
    </button>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
    </div>
  </form>
 
  <ion-button (click)="signIn()" expand="full" color="secondary">Ingreso</ion-button>
  <ion-button (click)="signUp()" expand="full">Registro</ion-button>
 
</ion-content>